@import url('https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-size: 110%;
	color: #ecf0f1;
	font-family: 'Source Sans Pro', sans-serif;
	background: radial-gradient(ellipse at bottom, #201645 0%, #090a0f 100%);
	width: 100%;
	/* position: absolute; */
	top: 0;
	left: 0;
	overflow: hidden;
}

.TopNav {
	text-align: center;
    overflow: hidden;
}

.TopNav a {
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	line-height: 40px; 
}

.TopNav a:hover{
    color: #d1d1d1;
	font-size: 18px;
	padding: 13px 15px;
}

.main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: 'Poiret One', cursive;
	font-size: 5vw;
    margin-bottom: .5rem;
}

.sub-title {
    border-top: .1rem solid #fff;
    padding: 1rem 4rem;
	text-align: center;
	font-size: 2.693vw;
}

@media (max-width: 600px) {
	.title {
		font-family: 'Poiret One', cursive;
		margin-bottom: .5rem;
		font-size: 9vw;
	}
	
	.sub-title {
		border-top: .1rem solid #fff;
		padding: 1rem 4rem;
		text-align: center;
		font-size: 6vw;
	}
	
}

/*Contact me page*/

.Contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Contact-me {
	font-family: 'Poiret One', cursive;
	font-size: 3vw;
    margin-bottom: .5rem;
}

.Contact-text {
	width: 15vw;
}

.Social-media a{
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vw;
    line-height: 5vw;
}

.Social-media a :hover{
    color: #d1d1d1;
	font-size: 3.2vw;
}

@media (max-width: 600px) {
	.Contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.Contact-text {
		width: 50vw;
	}

	.Contact-me {
		font-family: 'Poiret One', cursive;
		font-size: 8vw;
		margin-bottom: .5rem;
	}

	.Social-media{
		font-size-adjust: 2;
	}
	
}

